/* mobile devices */

@media screen and (max-width :576px) {
    nav{
        flex-direction: column;
        margin-top: 100px;
       align-items: center;
       box-shadow: none;
    }

    .nav-items>ul{
        flex-direction: column;
        margin-top: 10px;
        
    }

    .banner{
        flex-direction: column-reverse;
        margin-top: 150px;
    }

    .banner-img {
        width: auto;
    
    }
}


/* mediam devices like tab */
@media screen and (min-width:577px) and (max-width:992px)
 {
    nav{
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
    }
}